extends ../commons/sinhvien.common.pug

block content
    .m-4
        h1.text-center SINH VIÊN

        form.m-2.bordered.col-md-9.mx-auto(action="/sinhvien/search", method="GET")
            .d-flex
                select.form-control(name="searchBy")
                    option(value="MSSV") Tìm theo MSSV
                    option(value="CMND", selected=query?query.searchBy==='CMND'?true:false:false) Tìm theo số CMND
                    option(value="TEN", selected=query?query.searchBy==='TEN'?true:false:false) Tìm theo họ tên sinh viên
                    option(value="QUEQUAN", selected=query?query.searchBy==='QUEQUAN'?true:false:false) Tìm theo quê quán
                    option(value="NOICUTRU", selected=query?query.searchBy==='NOICUTRU'?true:false:false) Tìm theo chổ ở hiện tại
                    option(value="MAKHOA", selected=query?query.searchBy==='MAKHOA'?true:false:false) Tìm theo mã khoa
                    option(value="TENKHOA", selected=query?query.searchBy==='TENKHOA'?true:false:false) Tìm theo tên khoa
                    option(value="MANGANH", selected=query?query.searchBy==='MANGANH'?true:false:false) Tìm theo mã ngành học
                    option(value="TENNGANH", selected=query?query.searchBy==='TENNGANH'?true:false:false) Tìm theo tên ngành học
                    option(value="MALOP", selected=query?query.searchBy==='MALOP'?true:false:false) Tìm theo lớp
                    option(value="GIOITINH", selected=query?query.searchBy==='GIOITINH'?true:false:false) Tìm theo giới tính
                input.form-control(type="text", name="value" value=query?query.value:'')
            .text-right.mt-2
                button.btn.btn-success(type="submit") Tìm kiếm

        form(action="/sinhvien/info", method="GET")
            table.table.table-hover.table-bordered.table-sm
                thead.text-center
                    tr
                        th STT
                        th MSSV
                        th Tên sinh viên
                        th Ngày sinh
                        th Giới tính
                        th Điện thoại
                        th Mã lớp
                        th Chọn
                each sinhVien, index in dsSinhVien
                    tr
                        td.text-center= index + 1
                        td= sinhVien.MSSV
                        td= sinhVien.HOTEN
                        td.text-right= sinhVien.NGAYSINH
                        td.text-center= sinhVien.GT
                        td= sinhVien.DIENTHOAI
                        td= sinhVien.MALOP
                        td.text-center
                            input(type="radio", name="sv" value=sinhVien.MSSV, required=true)
            
            ul.d-flex.flex-wrap.justify-content-between(style="list-style-type: none")
                li
                    button.btn.btn-light(type="submit", name="request", value="info") Xem thông tin sinh viên
                li
                    button.btn.btn-light(type="submit", name="request", value="result") Xem kết quả học tập sinh viên
            a.btn.btn-secondary(href="/") Back